<h2 class="result-header">対戦結果</h2>
<table border>
    <tr>
        <th class="cell-1-result"></th>
        <th class="cell-2-result"><%= current_user.name%></th>
        <th class="cell-2-result"><%= @game.guest1 %></th>
        <th class="cell-2-result"><%= @game.guest2 %></th>
        <th class="cell-2-result"><%= @game.guest3 %></th>
    </tr>
    <tr>
        <td class="point">ポイント</td>
        <td class="point"><%= @scores.sum{|hash| hash[:user_point]} %></td>
        <td class="point"><%= @scores.sum{|hash| hash[:guest1_point]} %></td>
        <td class="point"><%= @scores.sum{|hash| hash[:guest2_point]} %></td>
        <td class="point"><%= @scores.sum{|hash| hash[:guest3_point]} %></td>
    </tr>
    <tr>
        <td class="money">収支</td>
        <td class="money"><%= @scores.sum{|hash| hash[:user_point]} * @game.rate.num %></td>
        <td class="money"><%= @scores.sum{|hash| hash[:guest1_point]} * @game.rate.num %></td>
        <td class="money"><%= @scores.sum{|hash| hash[:guest2_point]} * @game.rate.num %></td>
        <td class="money"><%= @scores.sum{|hash| hash[:guest3_point]} * @game.rate.num%></td>
    </tr>
</table>

<%= render "shared/footer"%>