<h1 class="title">Mahjong Score & Data</h1>
    <div class="user-name">
        <% if user_signed_in? %>
        <%= "#{current_user.name}さん、こんにちは" %>
        <% end %>
    </div>
    <div class="user">
        <% if user_signed_in? %>
            <%= link_to "マイページ", "#", class: "my-page" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout" %>
        <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "login" %>
            <%= link_to "新規登録", new_user_registration_path, class: "new-user" %>
        <% end%>
    </div>
    <div class="new-game">
        <%= link_to "新規対局", new_game_path, class: "new-game-btn" %>
    </div>
<%= render "shared/footer"%>